/*
    Website Colors
*/

$main-color :  #278cc2;
$second-color : #0c73aa;
$background : #eeeeee;
$shadow     : -8px 12px 18px 0 #dadee8;
$shadow-color : #dadee8;
$border-color : #dee4ec;

/* Buttons Colors */
$white  : #ffffff;
$blue   : #0162e8;
$green  : #2ecc71;
$orange : #fa8231;
$red    : #eb2f06;
$dark   : #2f3640;


// Navbar Height
$navbar-height : 65px;
$radius : 4px;