/*
    All Style For The Website
    - Style For Pages
*/
@import "colors.scss";

// All Admins Page
#all-admins {
    table {
        img {
            width: 45px;
            border-radius: 50%;
        }
        td {
            padding: 4px 0.75rem;
            line-height: 45px;
        }
    }
}

#all-articles {
    .article {
        position: relative;
        img {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }
        .article-dropdown {
            position: absolute;
            right: 2px;
            top: 0px;
            .dropdown-toggle {
                text-align: center;
                background-color: white;
                font-size: 18px;
                padding: 10px 15px 2px 15px;
                border-radius: 0px 0px 0px 5px;
            }
        }
    }
}

#contacts {
    .senders {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        .image {
            float: right;
            width: 65px;
            img {
                width: 55px;
                height: 55px;
                object-fit: cover;
                border-radius: 50%;
                border: solid 1px #eee;
                background-color: #fff;
                padding: 3px;
            }
        }
        .info {
            float: right;
        }
    }
}

// Projects Pages
#messageBox {
    height: 600px;
    overflow-y: scroll;
}

#home-dashboard {
    .statistics {
        color: #fff;
        position: relative;
        height: 110px;
        .box-icon {
            position: absolute;
            left: 15px;
            top: calc(50% - 35px);
            font-size: 60px;
            color: #000;
            opacity: 0.3;
        }
    }
}

// media
#media {
    .images {
        cursor: pointer;
        position: relative;
    }
    .btn-delete {
        position: absolute;
        top: 2px !important;
        right: 20px;
        background-color: #fff;
        width: 30px;
        height: 30px;
        line-height: 33px !important;
        color: rgb(224, 23, 23);
        border-radius: 0px 0px 0px 5px;
    }
}

#navbar {
    position: relative;
}
.inputImgName {
    position: absolute;
    z-index: -10000 !important;
    right: 0px;
    top: -3000000%;
    height: 0px;
}

// Journals Pages
#journals {
    position: relative;
    .cover {
        height: 180px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $radius;
    }
    .logo {
        padding-bottom: 70px;
        img {
            position: absolute;
            top: 110px;
            width: 128px;
            height: 128px;
            right: calc(50% - 68px);
            background-color: #fff;
            border: solid 1px #eee;
            padding: 10px;
            object-fit: contain;
            border-radius: 50%;
        }
    }
}
#journals-create {
    .buttons-box {
        background-color: #fff;
        border: 1px solid #ddd;
        position: fixed;
        bottom: 0px;
        border-radius: 3px;
        padding: 10px 10px;
        width: calc(100% - 290px);
        z-index: 99999;
    }
}
#journals-researches{
    .title{
        color: #007bff;
        font-size: 17px;
    }
    svg,i{
        width: 22px;
        margin-left: 8px;
        font-size: 14px;
    }
    div{
        color: #3a3a3a;
    }
    .dropdown{
        position: absolute;
        left: 20px;
        top: 8px;
    
        .dropdown-toggle {
            text-align: center;
            background-color: transparent;
            font-size: 18px !important;
            outline: none !important;
            border: 0px;
            padding-left: 0px;
            margin-left: 0px;
            color: #212121;
            svg,i{
                width: 22px;
                margin-left: 0px;
            }
        }
    }
}



// international-credits pages
#international-credits {
    .table-with-avatar img {
        width: 100%;
        height: 45px;
        object-fit: contain;
        border-radius: 0px !important;
    }
}

@media (max-width: 768px) {
    #journals-create {
        .buttons-box {
            border-top: 1px solid #ddd;
            border-radius: 0px;

            right: 0px;
            width: calc(100% + 30px);
        }
    }
}
